// -------- Color utilities --------

/* --------------How to use ---------------- */
//    .bg-ui-01
//    .clr-text-01
/* ---------------------------------------- */

//Background colors
.bg-ui-01   { background-color: $ui-01; }
.bg-ui-02   { background-color: $ui-02; }
.bg-ui-03   { background-color: $ui-03; }
.bg-ui-04   { background-color: $ui-04; }


//Text colors
.clr-text-01   { color: $text-01; fill: $text-01; }